.login-page {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: linear-gradient(45deg, var(--roxo), var(--lilas-1));
    width: 100%;
    height: calc(100svh - 80px);
    min-height: 500px;
    background-color: var(--white);
    box-shadow: 0px 9px 50px 2px rgba(0, 0, 0, 0.79);
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
}

.illustration {
    width: 65%;
    max-height: 100%;
    padding: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: var(--green-900);
}

.illustration p {
    font-size: 1.4rem;
    text-align: center;
    color: var(--white);
}

.illustration img:first-child {
    width: 40%;
}

.illustration img {
    width: 60%;
}

.login-section {
    width: 35%;
    max-height: 100%;
    padding: 10rem 50px;
    background-color: var(--white);
}

.login-section h1 {
    color: var(--green-700);
    font-size: 2.8rem;
    line-height: 14px;
}

.login-section h2 {
    font-size: 2.4rem;
    color: var(--green-900);
}

.login-box {
    margin-top: 50px;
    text-align: center;
}

.login-box h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 30px;
    color: var(--green-700);
}

.output {
    font-size: 14px;
    color: rgb(192, 76, 76);
}

.login-box a {
    color: var(--green-700);
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
}

.login-box a:hover {
    text-decoration: underline;
}

.login-form {
    display: flex;
    margin-top: 8px;
    flex-flow: column nowrap;
    gap: 14px;
    position: relative;
}

.login-form input {
    background-color: aliceblue;
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.79);
    padding: 15px;
    font-size: 1.4rem;
    border-radius: 4px;
}

.login-form button {
    background-color: var(--green-900);
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.79);
    padding: 15px;
    width: 80%;
    align-self: center;
    border-radius: 4px;
    font-size: 15px;
    margin: 50px 0 30px;
    color: var(--white);
}

.login-form button:hover {
    background-color: var(--green-700);
    transition: 300ms all ease;
    cursor: pointer;
}

.forgot {
    position: absolute;
    right: 0;
    bottom: 110px;
    color: var(--green-700);
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 20px;
}

/* media queries */
@media (max-width: 920px) {
    .login-container {
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
        background-color: transparent;
        box-shadow: none;
        align-items: center;
        justify-content: center;
    }

    .illustration {
        display: none;
    }

    .login-section {
        /* max-height: 380px; */
        min-width: 50px;
        border-radius: 25px;
        width: 90%;
    }
}