:root {
  font-family: 'Poppins', sans-serif;

  color: black;

  --white: #F2F2F2;
  --light-white: #FCF8F8;
  
  --green-900: #025159;
  --green-700: #038C7F;
  --green-400: #0BBFBF;

  --gray: #3F3A3A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html {
    min-height: 100svh;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

main {
    min-height: calc(100svh - 80px);
}

.limit-section {
    max-width: 1200px;
    margin: 0 auto;
}

/* global animations */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}